//form styles
.form-control.text-white,input.text-white,select.text-white,textarea.text-white{
    &::placeholder{
        color: rgba($white,.65);
    }
    &::-webkit-placeholder{
        color: rgba($white,.65);
    }
    &::-ms-placeholder{
        color: rgba($white,.65);
    }
    &::-moz-placeholder{
        color: rgba($white,.65);
    }
}



//Form input icons
.input-icon-group{
    position:relative;
    .form-control{
      padding-left:3rem;
    }
    .form-control-lg{
      padding-left:3.5rem;
    }
      .form-control-sm{
      padding-left:2.25rem;
    }
    .input-icon{
      position:absolute;
      left:0;
      top:0;
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      width:2.5rem;
      &::after{
        content:"";
        position:absolute;
        right:0;
        top:0;
        width:1px;
        height:100%;
        background-image:linear-gradient(to top, rgba(#fff,0) 0%, rgba($border-color,.5)50%,rgba(#fff,0)100%)
      }
      >svg,i{
        height:1.125rem;
        width:1.125rem;
        opacity:.3;
      }
    }
    
    &.input-icon-group-sm{
      .input-icon{
        width:2rem;
         >svg,i{
           height:1rem;
        width:1rem;
        }
      }
    }
     &.input-icon-group-lg{
      .input-icon{
        width:3rem;
         >svg,i{
           height:1.5rem;
        width:1.5rem;
        }
      }
    }
  }



  //Form switch
  .form-switch>.form-check-input {
    height: 1.25rem;
}


//form-validation
.form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"], .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"],.form-select.is-valid, .was-validated .form-select:valid, .form-control.is-invalid, .was-validated .form-control:invalid,.form-control.is-valid, .was-validated .form-control:valid,.form-select.is-invalid, .was-validated .form-select:invalid{
  background-size: calc(.425em + .425rem) calc(.425em + .425rem);
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus,.form-select.is-valid:focus, .was-validated .form-select:valid:focus{
  @if $enable-shadows {
box-shadow: inset 0 0.25px 1px rgba($success,.25),0 0 4px rgba($success,.25);
  }
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus,.form-select.is-invalid:focus, .was-validated .form-select:invalid:focus{
  @if $enable-shadows {
box-shadow: inset 0 0.25px 1px rgba($danger,.25),0 0 4px rgba($danger,.25);
  }
}

form{
  input.form-control:-internal-autofill-selected{
    background-color: transparent!important;
  }
}


//white
.text-white,.text-light{
  .form-label{
  color:$white;
  }
}