

//webfonts
@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/webfonts/Recoleta/Recoleta-Regular.woff2') format('woff2'),
        url('../fonts/webfonts/Recoleta/Recoleta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}